<%- include('header'); %>
    <div>
        <form method="post" action="/">
            <input type="text" id="city" name="cityname" placeholder="City name">
            <button type="submit">Submit</button>
       </form>
    </div>
    <div id="weather">
        <div id="description"><%= description %></div>
        <h1 id="temp"><%= temp %>°C</h1>
        <div id="location"><%= city %></div>
    </div>
<%- include('footer'); %>